.doctor-container {
  width: 40vw;
  background: transparent;
  border-radius: 20px;
  margin: 20px auto;
}

@media only screen and(max-width: 1186px) {
  .doctor-container {
    width: 90vw;
    margin: 10px auto;
  }
}
