.doctor-view-btn {
  border-radius: 30px;
}
.nav-container {
  width: 10px;
  overflow-x: hidden;
}
.offcanvas-start {
  width: 300px;
  color: white;
}
.doctor-card {
  border-radius: 30px;
  overflow-x: hidden;
  margin-right: 10px;
  margin-bottom: 30px;
}
// @media only screen and (max-width: 1095px) {
//   .nav1 {
//     display: none;
//   }
// }

// @media only screen and(min-width:1096px) {
//   .status-dropdown {
//     display: none;
//   }
// }
