<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="Getachew Zemene"/>
    <meta name="keyword" content="smart patient, patient care, health care, smart health"/>
    <title>Home</title>
</head>
<body>
    <h1>The most valuable thing is your health</h1>
</body>
</html>