.customCard {
  border-radius: 30px;
  width: 300px;
  margin: 5px 30px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  // background-color: cyan;
}

.view-button {
  margin-left: 50px;
  border-radius: 30px;
}
