#sidebar {
  background: lightgray;
  grid-area: sidebar;
  overflow-y: auto;
  padding: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f3f4f6;
  // margin-bottom: 30px;
  .sidebar-logo {
    display: flex;
    align-items: center;
  }
  div {
    img {
      width: 75px;
      object-fit: contain;
    }
    h1 {
      font-size: 18px;
      display: inline;
    }
  }
  i {
    font-size: 20px;
    color: black;
    display: none;
  }
}
.sidebar-menu {
  h2 {
    color: black;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 0 10px;
    font-weight: 700;
  }
}

.sidebar-link {
  color: #f3f4f6;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 5px;
  .anchor {
    // text-decoration: none;
    text-decoration: underline;
    color: black;
    font-weight: 700;
  }
  i {
    margin-right: 10px;
    color: red;
    font-size: 18px;
  }
}
.active-menu-link {
  background: rgba(62, 161, 117, 0.3);
  color: #3ea175;
  .anchor {
    color: #3ea175 !important;
  }
}
.sidebar-logout {
  margin-top: 20px;
  padding: 10px;
  .anchor {
    // text-decoration: none;
    color: black;
    font-weight: 700;
    // text-transform: uppercase;
  }
  i {
    margin-right: 10px;
    font-size: 20px;
    color: red;
  }
}

.sidebar-responsive {
  display: inline !important;
  z-index: 9999 !important;
  left: 0 !important;
  position: absolute;
  overflow-x: hidden;
}
@media only screen and (max-width: 978px) {
  #sidebar {
    display: none;
    overflow-x: hidden;
  }
  #sidebarIcon {
    display: inline;
  }
  .sidebar-title > i {
    display: inline;
  }
}
